<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>

    <% if (kindOfDay === 'Saturday' || kindOfDay === 'Sunday'){ %>
    <h1 style="color: blueviolet"><%= kindOfDay %></h1>
    <% } else { %>
    <h1 style="color: brown;"><%= kindOfDay %></h1>
    <% } %>

    <ul>

        <% for(let a=0; a<newListItems.length; a++){ %>
        <li> <%= newListItems[a] %> </li>

        <% } %>
    </ul>

    <form action="/" method="post">

        <input type="text" name="newItem">

        <button type="submit" name="button">Add</button>

    </form>

</body>

</html>